.apexcharts-canvas {
  * {
    font-family: "Roboto", "Cairo", sans-serif !important;
    font-weight: bold !important;
  }
  .apexcharts-legend-series {
    .apexcharts-legend-marker {
      margin-inline-end: 10px;
    }
  }
  .apexcharts-tooltip-text {
    .apexcharts-tooltip-y-group {
      .apexcharts-tooltip-text-label {
        margin-inline-start: 10px;
      }
    }
  }
}
